asgiref
attrs
click
Django
django-cors-headers
django-filter
djangorestframework
drf-spectacular
gunicorn
h11
inflection
jsonschema
jsonschema-specifications
Markdown
python-dotenv
PyYAML
referencing
rpds-py
sqlparse
uritemplate
uvicorn
uvicorn-worker
validate-docbr
whitenoise
