asgiref
attrs
Django
django-cors-headers
django-filter
djangorestframework
drf-spectacular
inflection
jsonschema
jsonschema-specifications
Markdown
python-dotenv
PyYAML
referencing
rpds-py
sqlparse
uritemplate
validate-docbr
